.searchWrapper {
  padding: 0px;
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.searchPost {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  flex-direction: row;
  margin:20px;
}

.searchHeadings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.searchHeadings p {
  margin-top: 0px;
  margin-left:20px;
}
