.searchWrapper{
    top:50px;
    width:100%;
    background-color:white;
    border:1px solid lightgray;
    border-radius:3px;
    align-self:flex-end;
}

.searchPost{
    display:flex;
    justify-content:flex-start;
    margin:20px;
}

.searchHeadings{
   display:flex;
   flex-direction:column;
   justify-content:flex-start;
}
.searchHeadings p {
    margin-top:0px;
    margin-left:20px;
}