button {
  font-family: sans-serif;
  font-size: 15px;
  position: relative;
  border: none;
  color: white;
  background-color: #772ce8;
  border-radius: 3px;
  padding: 10px;
  width: 90px;
}
button:hover {
  color: rgb(0, 255, 42);
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #772ce8;
}
.body > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 3px lightgray;
  height: 80px;
  margin: 0px;
}
nav > div {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 400px;
  right: 40px;
  align-items: center;
}
nav button {
  margin-left: 20px;
}
nav > a {
  margin-left: 40px;
}
.body {
  position: relative;
  margin: auto;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.darken {
  background-color: rgb(0, 0, 0, 0.5);
}
.darkenButton {
  background-color: rgb(39, 31, 109);
  color: rgba(185, 185, 185, 0.5);
}

.leftNav {
  display: flex;
  justify-content: center;
  width: 500px;
}
.leftNav a,
.leftNav input {
  margin-left: 20px;
}
